* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #809bce;
  min-height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #003559;
  padding: 40px;
  margin-bottom: 35px;
  box-shadow: #00000059 0px 5px 15px;
}

a {
  text-decoration: none;
  color: #e4c9b0;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.links {
  display: flex;
  font-size: 22px;
}

.links a {
  margin: 0 15px 0 15px;
}

main {
  margin: 0 25px 50px 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-heading {
  width: 45%;
  min-width: 465px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #e4c9b0;
}

span {
  font-style: italic;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 465px;
  background-color: #9fb5de;
  border-radius: 5px;
  padding: 20px;
  box-shadow: #64646f33 0px 7px 29px 0px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

input {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

input[type='file'] {
  padding: 0;
  margin-top: 5px;
}

.analyze-button {
  height: 45px;
  font-size: 18px;
  color: #e4c9b0;
  background-color: #003559;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.analyze-button:active {
  transform: scale(0.95);
}
