* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #809bce;
  min-height: 100vh;
}

main {
  margin: 0 25px 50px 25px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid #0000001a;
  border-left-color: #003559;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #003559;
  padding: 40px;
  margin-bottom: 35px;
  box-shadow: #00000059 0px 5px 15px;
}

a {
  text-decoration: none;
  color: #e4c9b0;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.links {
  display: flex;
  font-size: 22px;
}

.links a {
  margin: 0 15px 0 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-heading {
  width: 45%;
  min-width: 465px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #e4c9b0;
}

.span1 {
  font-style: italic;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 465px;
  background-color: #9fb5de;
  border-radius: 5px;
  padding: 20px;
  box-shadow: #64646f33 0px 7px 29px 0px;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

input {
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

input[type='file'] {
  padding: 0;
  margin-top: 5px;
}

.analyze-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  font-size: 18px;
  background-color: #003559;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.analyze-button:active {
  transform: scale(0.95);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-container {
  width: 50%;
  font-size: 20px;
  text-align: justify;
}

li:first-child {
  margin-bottom: 10px;
}

.span2 {
  font-weight: 600;
  font-style: normal;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-box:last-child {
  margin-top: 35px;
}

h1,
h2 {
  text-align: center;
  margin-top: 0;
}

h3 {
  text-align: center;
}

table {
  width: 700px;
  background-color: #9fb5de;
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  box-shadow: #64646f33 0px 7px 29px 0px;
}

th,
td {
  font-size: 18px;
  text-align: left;
}

.error-container {
  text-align: center;
}

.error-container p {
  font-size: 20px;
}

.error-container p:first-child {
  color: #a10000;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
